body{
    margin: top 20px;
    background-color: lightgray;
}
.main{
    height: 20px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.topber{
    display: flex;
    height: 50px;
    background-color: rgb(59, 182, 210);
    overflow: hidden;
    align-items: center;
}
.topber a{
    margin-left: 20px;
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
}

.topber a:hover{
    color: black;
}

.topbar a{
    float: right;
    
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}
.sidebar{
    background-color: #333;
    color : white;
    height: 100%;
}
.sidebar a{
    margin-left: 10px;
    display: block;
    color : white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: whitesmoke;
}

#context-menu{
    padding: 3px;
    background: #111;
    position: fixed;
    top: 5px;
    left: 100px;
    display: none;
}
#context-menu div {
    color: #eee;
    font-family: "Raleway";
    padding: 3px;
    /* border-bottom: 1px solid #555; */
    cursor: pointer;
}
#context-menu.active{
    display: block;
}

input[type="file"]{
    display: none ;
}
label{
    display: block;
    position: relative;
    color: #fff;
    font-family: "Raleway";
    padding: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    margin: auto;
}